<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Chapter 3</title>

<link href="@Url.Content("~/Content/styles3.css")" rel="stylesheet" type="text/css" />

</head>
<body>
<h1 >Third Title</h1>

<p class="content">Garlic may be known for being a little bit 
<em>stinky</em>, but
baked it is absolutely delicious and as long as you feed it to
all of your guests no-one will complain about the smell! Once
baked the garlic becomes creamy and sweet making an ideal spread
to accompany cheese.</p>

<img class="recipe" src="../../Content/themes/base/images/ball2.jpg" alt="test pic" />

</body>
</html>