<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Chapter 5.1: Tabular Data</title>
    <link href="@Url.Content("~/Content/alternate.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="wrapper">
        <table class="datatable">
            <caption>Student List</caption>
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Class</th>
                <th scope="col">ID</th>
            </tr>
            <tr>
                <td>Joe Bloggs</td>
                <td>27/08/1997</td>
                <td>Mrs Jones</td>
                <td>12009</td>
            </tr>
            <tr>
                <td>William Smith</td>
                <td>20/07/1997</td>
                <td>Mrs Jones</td>
                <td>12010</td>
            </tr>
            <tr>
                <td>Jane Toad</td>
                <td>21/07/1997</td>
                <td>Mrs Jones</td>
                <td>12030</td>
            </tr>
            <tr>
                <td>Amanda Williams</td>
                <td>19/03/1997</td>
                <td>Mrs Edwards</td>
                <td>12021</td>
            </tr>
            <tr>
                <td>Kylie Jameson</td>
                <td>18/05/1997</td>
                <td>Mrs Jones</td>
                <td>12022</td>
            </tr>
            <tr>
                <td>Louise Smith</td>
                <td>17/07/1997</td>
                <td>Mrs Edwards</td>
                <td>12019</td>
            </tr>
            <tr>
                <td>James Jones</td>
                <td>04/04/1997</td>
                <td>Mrs Edwards</td>
                <td>12007</td>
            </tr>
        </table>

        <table class="datatable2">
<colgroup>
<col />
<col />
</colgroup>
<colgroup>
<col />
<col />
</colgroup>
<tr>
<th>Pool A</th>
<th>Pool B</th>
<th>Pool C</th>
<th>Pool D</th>
</tr>
<tr>
<td>England</td>
<td>Australia</td>
<td>New Zealand</td>
<td>France</td>
</tr>
<tr>
<td>South Africa</td>
<td>Wales</td>
<td>Scotland</td>
<td>Ireland</td>
</tr>
<tr>
<td>Samoa</td>
<td>Fiji</td>
<td>Italy</td>
<td>Argentina</td>
</tr>
<tr>
<td>USA</td>
<td>Canada</td>
<td>Romania</td>
<td>Europe 3</td>
</tr>
<tr>
<td>Repechage 2</td>
<td>Asia</td>
<td>Repechage 1</td>
<td>Namibia</td>
</tr>
</table>
    </div>
</body>
</html>

