<!DOCTYPE htmal >
<html>
<head>
    <meta charset="utf-8" />
    <title>Chapter 8: Position</title>
    <link href="@Url.Content("~/Content/position.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="wrapper">

        <div class="box1">
            <p>This is Box 1. It is positioned using absolute positioning.
            </p>
            <p>The box has a width of 300 pixels plus 20 pixels of padding
            and is positioned 10 pixels from the top and 10 pixels from
            the left of the viewport.</p>
        </div>

        <div class="box2">
            <p>This is Box 2. It is positioned using absolute positioning.
            </p>
            <p>The box has a width of 300 pixels plus 20 pixels of padding
            and is positioned 10 pixels from the bottom and 10 pixels
            from the right of the viewport.</p>
        </div>

    </div>
</body>
</html>